<!DOCTYPE html>
<html>
  <head>
    <title>Holy Motion!</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/MyAccount.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">

  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/bienvenido">Home</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/MyAccount">My Account</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/OurTeam">Our Team</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/ContactUs">Contact Us</a>
              </li>
          </ul>
      </div>
      <div class="mx-auto order-0">
          <a class="navbar-brand mx-auto" href="/bienvenido"><img src="/holy_motion2.png" height="50" width="150"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/">Sign Out</a>
              </li>
          </ul>
      </div>
  </nav>


 <div class="container">
  <div class="row">
    <div class="col-lg-3">
      <span id="foto">
      <img class="rounded-circle" src="" id="ImagenUsuario" alt="Generic placeholder image" width="140" height="140">
      </span>
            <h3><span id="NombreUsuario">Jonathan Alejandro Aguilar Morales</span></h3>
            <p id="CorreoUsuario">Jonathan.aguilar@sap.com</p>
            <p id="NivelUsuario"><i class="fas fa-chess-king"></i>  Master Driver</span></p>
            <p id="PuntosUsuario">800 pts</p>
            <p id="AgregarNuevoSpot"><a class="btn btn-success" target="_blank" href="#" role="button">Register new spot</a></p>
            <p><button id="AgregarNuevoVehiculo" class="btn btn-primary" data-toggle="modal" data-target="#modalCreacionVehiculo" role="button">Register new Vehicle</button></p>
    </div>
    <div class="col-lg-9">
        <h3>Reservations</h3>

        <div class="table-responsive">
        <table class="table table-hover" id="tabla_reservas">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Place</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">From</th>
              <th scope="col">To</th>
              <th scope="col">Cost</th>
              <th scope="col">Car Plates</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
            </tr>
          </tbody>
        </table>
        </div>

        <br>
        <h3>My Spots</h3>
        <br>

        <div class="table-responsive">
        <table class="table table-hover" id="tabla_reservas_spots">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Place</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">From</th>
              <th scope="col">To</th>
              <th scope="col">Revenue</th>
              <th scope="col">Car Plates</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          <!-- Contenido Dinámico que agrega el JS -->
          </tbody>
        </table>
        </div>

        <br>
        <h3>My Vehicles</h3>
        <br>

        <div class="table-responsive">
        <table class="table table-hover" id="tabla_my_vehicles">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Brand</th>
              <th scope="col">Year</th>
              <th scope="col">Plate</th>
              <th scope="col">Color</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          <!-- Contenido Dinámico que agrega el JS -->
          </tbody>
        </table>
        </div>

    </div>
  </div>
</div>

<!-- modal de creacíon de vehiculo -->
<!-- id de vehiculo, id de usuario, marca, anio, placa y el color -->

<div class="modal fade" id="modalCreacionVehiculo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloModal">Add up new Vehicle.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center" id="MensajeModalConfirmacion"> 
          <p><h4>Add the info of the vehicle you want to add.</h4></p>

          <p><h5>User: </h5> 
            <input id="input_usuario" type="text" name="Usuario" class="disabled" disabled>
          </p>

          <p><h5>Plates: </h5>
            <input type="text" id="input_plates" name="Placa">
          </p>

          <p>
           <div class="form-group">
            <label>Brand</label>
            <select class="form-control" id="dropdown_brand">
              <option>Ford</option>
              <option>Chevy</option>
              <option>Hyundai</option>
              <option>Volkswagen</option>
              <option>Tesla</option>
              <option>Honda</option>
              <option>Renault</option>
              <option>Other</option>
            </select>
          </div>

          </p>

          <p>
            
          <div class="form-group">
            <label>Year</label>
            <select class="form-control" id="dropdown_year">
              <option>2019</option>
              <option>2018</option>
              <option>2017</option>
              <option>2016</option>
              <option>2015</option>
              <option>2014</option>
              <option>2013</option>
              <option>2012</option>
              <option>2011</option>
              <option>2010</option>
            </select>
          </div>

          </p>

          <p>
           
          <div class="form-group">
            <label>Color</label>
            <select class="form-control" id="dropdown_color">
              <option>Red</option>
              <option>Blue</option>
              <option>White</option>
              <option>Yellow</option>
              <option>Orange</option>
              <option>Black</option>
            </select>
          </div>
          </p>
        </div>
      </div>
      <div class="modal-footer">
        <button id="confirmarCreacionVehiculo" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalConfirmacion">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- modal de confirmación de creación de coche -->

<div class="modal fade" id="modalConfirmacionVehiculo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tituloModal">Congratulations!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center"> 
          <p><b id="MensajeModalConfirmacion">Your car was added succesfully!</b></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  </body>

<script type="text/javascript" src="https://unpkg.com/popper.js@1.14.4/dist/umd/popper.js"></script>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script type="text/javascript" src="/js/MyAccount.js"></script>
