<!DOCTYPE html>
<html>
  <head>
    <title>Holy Motion!</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/MyAccount.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">

  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/bienvenido">Home</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/MyAccount">My Account</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/OurTeam">Our Team</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/ContactUs">Contact Us</a>
              </li>
          </ul>
      </div>
      <div class="mx-auto order-0">
          <a class="navbar-brand mx-auto" href="/bienvenido"><img src="/holy_motion2.png" height="50" width="150"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/">Sign Out</a>
              </li>
          </ul>
      </div>
  </nav>


 <div class="container">
  <div class="row">
    <div class="col-lg-3">
      <span id="foto">
      <img class="rounded-circle" src="" id="ImagenUsuario" alt="Generic placeholder image" width="140" height="140">
      </span>
            <h3><span id="NombreUsuario">Jonathan Alejandro Aguilar Morales</span></h3>
            <p id="CorreoUsuario">Jonathan.aguilar@sap.com</p>
            <p id="NivelUsuario"><i class="fas fa-chess-king"></i>  Master Driver</span></p>
            <p id="PuntosUsuario">800 pts</p>
    </div>
    <div class="col-lg-9">
        <h3>Reservations</h3>

        <div class="table-responsive">
        <table class="table table-hover" id="tabla_reservas">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Place</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">From</th>
              <th scope="col">To</th>
              <th scope="col">Cost</th>
              <th scope="col">Car Plates</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
            </tr>
          </tbody>
        </table>
        </div>

        <br>
        <h3>My Spots</h3>
        <br>

        <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Place</th>
              <th scope="col">Date</th>
              <th scope="col">From</th>
              <th scope="col">To</th>
              <th scope="col">Revenue</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">156</th>
              <td>Cuajimalpa, Cajón 57</td>
              <td>23/09/2018</td>
              <td>3:15</td>
              <td>6:30</td>
              <td>$20</td>
              <td>Accepted</td>
              <td><p><a class="btn btn-danger" target="_blank" href="#"" role="button">Delete</a></td>
            </tr>
            <tr>
              <th scope="row">156</th>
              <td>Cuajimalpa, Cajón 57</td>
              <td>25/09/2018</td>
              <td>00:15</td>
              <td>03:00</td>
              <td>$15</td>
              <td>Pending</td>
              <td><p><a class="btn btn-success" target="_blank" href="#"" role="button">Accept</a></td>
                <td><p><a class="btn btn-danger" target="_blank" href="#"" role="button">Delete</a></td>
            </tr>
            <tr>
              <th scope="row">156</th>
              <td>Cuajimalpa, Cajón 57</td>
              <td>26/09/2018</td>
              <td>00:15</td>
              <td>03:00</td>
              <td>$15</td>
              <td>Pending</td>
              <td><p><a class="btn btn-success" target="_blank" href="#"" role="button">Accept</a></td>
                <td><p><a class="btn btn-danger" target="_blank" href="#"" role="button">Delete</a></td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td colspan="8"><p><a class="btn btn-success" target="_blank" href="#" role="button">Register new spot</a></td>
            </tr>
          </tbody>
        </table>


        <br>
        <h3>My Vehicles</h3>
        <br>

        </div>

    </div>
  </div>
</div>

  </body>

<script type="text/javascript" src="https://unpkg.com/popper.js@1.14.4/dist/umd/popper.js"></script>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script type="text/javascript" src="/js/MyAccount.js"></script>
